{
  "env": {
    "node": true
  },
  "extends": [
    "@codeyourfuture/standard",
    "plugin:@typescript-eslint/strict",
    "plugin:@typescript-eslint/stylistic"
  ],
  "parser": "@typescript-eslint/parser",
  "overrides": [
    {
      "extends": [
        "plugin:jest/recommended"
      ],
      "files": [
        "**/*.spec.[jt]s"
      ],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "jest/expect-expect": [
          "error",
          {
            "assertFunctionNames": [
              "expect",
              "request.**.expect"
            ]
          }
        ],
        "jest/no-commented-out-tests": "error",
        "jest/no-disabled-tests": "error"
      }
    }
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/indent": ["error", "tab"],
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-non-null-assertion": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "no-console": "error"
  }
}
