<form action="/authorize" method="post" id="root-form">
    <label for="role-select">
        Select token
        <select id="role-select" name="code">
            <% Object.keys(roles).forEach(function (role) { %>
                <%- `<option value="${roles[role]}">${role}</option>` %>
            <% }); %>
        </select>
    </label>

    <% Object.keys(query).forEach(function (param) { %>
        <%- `<input hidden name="${param}" type="text" value="${query[param]}" />` %>
    <% }); %>


    <button id="submit-button" type="submit">Authenticate</button>
</form>
